
# PlanAhead Generated physical constraints 

NET "a_to_g[0]" LOC = M12;
NET "a_to_g[1]" LOC = L13;
NET "a_to_g[2]" LOC = P12;
NET "a_to_g[3]" LOC = N11;
NET "a_to_g[4]" LOC = N14;
NET "a_to_g[5]" LOC = H12;
NET "a_to_g[6]" LOC = L14;
NET "an[0]" LOC = G1;
NET "an[1]" LOC = P4;
NET "an[2]" LOC = N4;
NET "an[3]" LOC = N5;
NET "sw[0]" LOC = G3;
NET "sw[1]" LOC = F3;
NET "sw[2]" LOC = E2;
NET "sw[3]" LOC = N3;
